UQO_E2E_RUN_ID=local-external
UQO_E2E_EXTERNAL_DRY_RUN=false
UQO_E2E_GITHUB_TOKEN=replace-me
UQO_E2E_GITHUB_OWNER=replace-me
UQO_E2E_GITLAB_TOKEN=replace-me
UQO_E2E_GITLAB_GROUP_ID=replace-me
UQO_E2E_GITLAB_BASE_URL=https://gitlab.com/api/v4
UQO_E2E_KEEP_ON_FAIL=false
UQO_E2E_MAX_CLEANUP_ATTEMPTS=3

